<!DOCTYPE html>
<html>
<head>
	<title> </title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<h1>
		<h1>Layout.erb</h1>

		<% if session[:message] %>
			<p class="msg">
				<%= session[:message] %>
			</p>
			<% session[:message] = nil
			end %>
 		<%= yield %>
	</h1>

</body>
</html>